body{
     background-color: #f4f4f4;
}
.fixed-box {
    /* width: 200px;
    height: 200px; */
    margin: 20px;
    cursor: pointer;

}

.class-box{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.class-avatar{
    width: 100px;
    height: 100px;
}

.class-box-bottom{
    /*width: 180px;*/
    height: 60px;
}

.class_name_box{
    display: -webkit-box;
    -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 120px;
    padding: 0;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 5;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: gray;
    color: white;
}